body {
    background-color: black;
}

h1 {
    color: darkred;
    font-weight: bold;
}

h2 {
    color: darkslategrey;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

a {
    color: darkred;
}

div > h3 {
    color: green;
}

.footer {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.footer .contact {
    flex: 1;
    text-align: left;
}

.footer .hobbies {
    flex: 1;
    text-align: right;
}

.footer .about {
    flex: 1;
    text-align: center;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

.header {
    background-color: white;
}

@media (min-width: 501px) and (max-width: 700px) {
    .header {
        background-color: black;
    }
    .footer {
        background-color: black;
    }
  }