h1 {
    color: darkred;
}

h2 {
    color: darkslategrey;
}

div > h3 {
    color: darkgreen;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
}

